<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href="{% static 'yellowpages/indexStyles.less' %}" />
    <title>Зарегистрироваться</title>
</head>
<body>
<script src="https://yastatic.net/q/forms-frontend-ext/_/embed.js"></script>
<iframe src="https://forms.yandex.ru/u/5e8214ff1bc38d141ffb0c12/?iframe=1" frameborder="0" name="ya-form-5e8214ff1bc38d141ffb0c12" width="650"></iframe>
</body>
</html>